@import "./reset-addon.css";

:root {
    --primary-blue: #3FA0EF;
    --secondary-offwhite: #e2e8f0;
    --rounded-corners-strong: 15px;
    --rounded-corners-subtle: 8px;
}

.cntr {
    display: grid;
    grid-template-areas: 
    "nav header"
    "nav main";
    grid-template-rows: min-content 1fr;
    grid-template-columns: 260px 1fr;
    min-height: 100vh;
    min-height: 100dvh;

    .small-text {
        font-size: .7rem;
    }
}

header {
    background-color: white;
    grid-area: header;

    display: grid;
    grid-template-areas: 
    "upper-left upper-right"
    "lower-left lower-right";
    grid-template-rows: 2fr 3fr;
    grid-template-columns: 3fr 2fr;
    padding: 15px 40px;
    font-weight: 700;

    .search-bar {
        grid-area: upper-left;
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 10px;

        input {
            border-radius: var(--rounded-corners-strong);
            background-color: var(--secondary-offwhite);
            border: none;
        }
    }

    .user-menu {
        grid-area: upper-right;
        display: grid;
        grid-template-columns: auto auto 1fr;
        gap: 25px;
        justify-self: end;
    }

    .current-user {
        grid-area: lower-left;
        display: grid;
        grid-template-columns: auto 1fr;

        img {
            grid-row: 1 / 3;
            margin-right: 10px;
        }

        .greeting {
            align-self: end;
        }

        .greeting + div {
            font-size: 1.3rem;
        }
    }

    .button-group {
        grid-area: lower-right;
        
        display: grid;
        grid-template-columns: repeat(3, min-content);
        justify-content: end;
        align-content: center;
        gap: 20px;

        button {
            width: 80px;
            height: 30px;
            border-radius: var(--rounded-corners-strong);
            border: none;
            background-color: var(--primary-blue);
            color: white;
        }
    }
}

.sidebar {
    background-color: #3FA0EF;
    grid-area: nav;

    display: grid;
    grid-template-rows: repeat(3, min-content);
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 30px;
    gap: 75px; 

    .sidebar-subsection {
        display: grid;
        grid-template-columns: 50px 1fr;
        gap: 10px;
    }

    h1, 
    span {
        color: white;
        font-weight: 700;
        font-size: 1.3rem;
        margin-top: auto;
        margin-bottom: auto;
    }

    .icon {
        justify-self: center;
        align-self: center;
        color: white;
    }
}

main {
    background-color: var(--secondary-offwhite);
    grid-area: main;
    display: grid;
    grid-template-columns: 4fr 1fr;
    padding: 1rem;
    gap: 1rem;

    h2 {
        font-weight: 600;
        font-size: 1.1rem;
        margin-bottom: 5px;
    }

    .card-cntr {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1rem;
    
        .card {
            border: 1px solid black; /* design placeholder */
            border-radius: var(--rounded-corners-subtle);
            padding: 1rem;
            background-color: white;
            line-height: 1;
            display: grid;
            gap: 5px;

            span {
                font-weight: 700;
            }

            .card-btn-cntr {
                display: grid;
                grid-auto-flow: column;
                justify-content: end;
                gap: 20px;
            }

        }
    }

    .announcements-widget {
        border: 1px solid black; /* design placeholder */
        border-radius: var(--rounded-corners-subtle);
        padding: 1rem;
        background-color: white;
        line-height: 1;
        font-size: 0.9rem;
        margin-bottom: 1rem;

        span {
            font-weight: 700;
        }
    }

    .trending-widget {
        border: 1px solid black; /* design placeholder */
        border-radius: var(--rounded-corners-subtle);
        padding: 1rem;
        background-color: white;
        line-height: 1;
        font-size: 0.9rem;

        display: grid;
        grid-template-rows: repeat(4, 1fr);
        gap: 1rem;

        .trending-user {
            display: grid;
            grid-template-columns: auto 1fr;
            grid-template-areas: 
            "user-icon user-handle"
            "user-icon user-description";

            .icon {
                grid-area: user-icon;
            }
        }
    }
}