@import "./reset-addon.css";

.container {
    display: grid;
    grid-template-areas: 
    "header nav"
    "header main";
    grid-template-rows: 1fr 5fr;
    grid-template-columns: 1fr 5fr;
}

header {
    background-color: lightblue;
    grid-area: header;
}

nav {
    background-color: yellow;
    grid-area: nav;
}

main {
    background-color: gray;
    grid-area: main;
}