@import "./reset-addon.css";

.container {
    display: grid;
    grid-template-areas: 
    "nav header"
    "nav main";
    grid-template-rows: 1fr 5fr;
    grid-template-columns: 1fr 5fr;
}

header {
    background-color: palegoldenrod;
    grid-area: header;
}

.sidebar {
    background-color: paleturquoise;
    grid-area: nav;

    display: grid;
    gap: 50px;
}

main {
    background-color: palevioletred;
    grid-area: main;
}